.header{
  background-image: url('../img/HeaderImg.png');
  background-position: right;
  background-repeat: no-repeat;
  background-color: white;
  position: fixed;
  padding: 0;
  transition: 0.5s;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 98;
}

#tst{
  position: fixed;
  padding: 0;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  height: 150px;
}

.headerText{
  transition: 0.5s
}

.headerDefault {
  height: 600px;
}

.headerCompressed{
  height: 150px;
}

#headerInputBox{
  position: relative;
  z-index: 100;
}

.headerDefault #headerInputBox{
  position: relative;
  transition: 0.5s;
  top : 0;
}

.headerCompressed #headerInputBox{
  position: relative;
  transition: 0.5s;
  top : 20px;
}

#content{
  margin-top: 630px;
  margin-bottom: 316px;
  transition: 0.5s;
}